/* ============ STYLES FOR FOOTER THEME - WHITE =============== */

.footer-container { background:#fff; border-top:1px solid #e3e1e1; border-bottom:1px solid #e3e1e1; }
.footer .store-switcher { display:inline; margin:0 5px 0 0; color:#fff; }
.footer a { color:#333; text-decoration:none; }
.footer a:hover { text-decoration:underline; }
.footer .bugs { margin:13px 0 0; color:#333; }
.footer .bugs a { color:#333; text-decoration:underline; }
.footer .bugs a:hover { text-decoration:none; }
.footer address { margin:0 0 20px; color:#333; }
.footer address a { color:#333; text-decoration:underline; }
.footer address a:hover { text-decoration:none; }