/* ============ STYLES FOR THEME FONT - Raleway =============== */
body { font-family: 'Raleway', sans-serif; font-size:12px; }
.page-title h1, .catalog-title h1 { font-family: 'Raleway', sans-serif; font-weight:700; font-size:16px; }
button.button span { font-family: 'Raleway', sans-serif; font-weight:400; font-size:12px; }
.page-title h2 { font-family: 'Raleway', sans-serif; font-size:16px; font-weight:700; }
.products-grid .link-compare { font-family: 'Raleway', sans-serif; font-size:12px; font-weight:normal; }
#nav a.level-top { font-family: 'Raleway', sans-serif; font-size:16px; font-weight:400; }
.products-grid .product-name a { font-family: 'Raleway', sans-serif; font-size:14px; font-weight:700; }
.regular-price .price { font-family: 'Raleway', sans-serif; font-size:21px; font-weight:700; }
cart .shipping h2 { font-family: 'Raleway', sans-serif; }
.opc .step-title .number { font-family: 'Raleway', sans-serif; font-weight:700; }
.opc .step-title h2 { font-family: 'Raleway', sans-serif; font-size: 16px; font-weight: 700; }
.view_more { font-family: 'Raleway', sans-serif; font-size:16px; font-weight:300; }
.catblocks li span { font-family: 'Raleway', sans-serif; font-weight:700; font-size:14px; }
.catlandingbottomPromoblock { font-family: 'Raleway', sans-serif !important; font-weight:700; font-size:14px; }

input,select,textarea,button { font-family: 'Raleway', sans-serif; font-size:12px; font-weight:300; }
.block-currency .block-title strong { font-family: 'Raleway', sans-serif; font-size:13px; font-weight:700; }
.new-product { font-family: 'Raleway', sans-serif; font-size:14px; font-weight:700; text-transform:uppercase; }
.col-footer ul li { color:#333; font-family: 'Raleway', sans-serif; font-size:14px; font-weight:400; }
.col-footer h2 { width:100%; display:block; color:#333; font-family: 'Raleway', sans-serif; font-size:16px; font-weight:700; text-align:left; border-bottom:1px #e3e1e1 solid; padding-bottom:14px; text-transform:uppercase; }
.header .links a { font-family: 'Raleway', sans-serif; font-size:11px; color:#333; }