@media screen and (max-width:1240px) {
    .fieldset { width:100%; box-sizing:border-box; }
    .view_more { margin-left:10%; margin-right:10%; left: 0; right: 0; bottom:100px; }
    .wishlist_icon { display:none !important; }
    .products-grid .btn-cart { display:none !important; }
    #slider-wrapper { float:none; margin: 0 auto; }
    #mainNav #nav > li > ul { margin-left: 2%; width: 98% !important; }
    #bestseller-container { display:none !important; }
    #features-container { width:100% !important; max-width:none !important; display:block !important; float:none !important; }
    .footer-container .col1 { width:100% !important; display:block; max-width:none; float:none; }
    .footer-container .col2, .footer-container .col3, .footer-container .col4 { width:25% !important; max-width:none; }
    .col2 li, .col2 h2 { padding-left:0 !important; }
}

@media screen and (max-width:1023px) {
    .view_more { margin-left:5%; margin-right:5%; left: 0; right: 0; bottom:100px; }
    #mainNav { display:none; }
    #menu_mobile_click { display:block !important; }
    .search_mobile { display:block !important; }
    #nav > li > ul { margin-left:0; }
    #nav ul { background:#000 !important; }
    #nav ul li a span { color:#cfcfcf; font-size:14px; }
    .menu_mobile a,
    .menu_mobile #nav li.first a { padding:8px !important; }
    .menu_mobile #nav > li { border-top:1px solid #202020; }
    #nav { padding:0 !important; }
    .wishlist-icon { display:none !important; }
    .compare-icon { display:none !important; }
    .price-box { display:block !important; }
}

@media screen and (max-width:940px) {
    .view_more { margin-left:0; margin-right:0; left: 0; right: 0; bottom:100px; }
    .products-grid li.item { min-height:389px !important; }
    .products-grid .add-to-links { display:none !important; }
    .products-grid .price-box { max-width:none; width:100% !important; right:0; text-align:center; }
    .cart > form { width:100% !important; float:none !important; }
    .cart .totals { width:100% !important; float:none !important; max-width:940px !important; }
}

@media screen and (max-width:893px) {
    #slider-wrapper { width:100% !important; float:none !important; }
    section.min_baners { width:100% !important; float:none !important; max-width:893px !important; margin-left:0 !important; margin-top:2.25%; }
    section.min_baners ul li { float:left; display:block; width:48.875%; }
    section.min_baners ul li:first-child { margin-right:2.25%; }
    section.min_baners ul li a { margin-bottom:0 !important; }
    section.min_baners ul li a img { width:100%; }
    .col-left { display:none; }
    .customer-account-index .col-left, .customer-account-edit .col-left, .customer-address-index .col-left, .sales-order-history .col-left, .sales-billing-agreement-index .col-left,
    .sales-recurring-profile-index .col-left, .review-customer-index .col-left, .tag-customer-index .col-left, .wishlist-index-index .col-left, .oauth-customer-token-index .col-left,
    .newsletter-manage-index .col-left, .downloadable-customer-products .col-left
    { width:100% !important; max-width:none !important; display:block !important; }
    .customer-account-index .col-left .block, .customer-account-edit .col-left .block, .customer-address-index .col-left .block, .sales-order-history .col-left .block, .sales-billing-agreement-index .col-left .block,
    .sales-recurring-profile-index .col-left .block, .review-customer-index .col-left .block, .tag-customer-index .col-left .block, .wishlist-index-index .col-left .block, .oauth-customer-token-index .col-left .block,
    .newsletter-manage-index .col-left .block, .downloadable-customer-products .col-left .block { display:none; }
    .customer-account-index .col-left .block-account, .customer-account-edit .col-left .block-account, .customer-address-index .col-left .block-account, .sales-order-history .col-left .block-account, .sales-billing-agreement-index .col-left .block-account,
    .sales-recurring-profile-index .col-left .block-account, .review-customer-index .col-left .block-account, .tag-customer-index .col-left .block-account, .wishlist-index-index .col-left .block-account, .oauth-customer-token-index .col-left .block-account,
    .newsletter-manage-index .col-left .block-account, .downloadable-customer-products .col-left .block-account { display:block !important; margin-top:26px; }
    .col-right { display:none; }
    .col2-left-layout .col-main { width:100% !important; }
    .col2-right-layout .col-main { width:100% !important; }
    .products-grid li.item { min-height:369px !important; }
    .header .links li { box-sizing:border-box; }
    .col3-layout .col-left { display:block !important; }
    .col3-layout .col-right { display:none; }
    .col3-layout .col-wrapper { width:100% !important; float:none; }
    .footer-container .col2, .footer-container .col3, .footer-container .col4 { width:50% !important; min-height:170px; }
    .baners { margin: 18px 0 3% !important; }
}

@media screen and (max-width:767px) {
    .view_more { display:none !important; }
    .col2-left-layout .col-left, .col2-right-layout .col-left { display:none; }
    .col2-left-layout .col-left, .col2-right-layout .col-right { display:none; }
    .col2-left-layout .col-main { width:100%; }
    .col2-right-layout .col-main { width:100%; }
    .products-grid li.item { min-height:350px !important; }
    .col3-layout .col-left { display:none !important; }
    .col3-layout .col-wrapper .col-main { float:none; }
    .col3-layout .col-main { margin-left:0 !important; width:100% !important; max-width:767px !important; }
    .products-grid li.item { max-width:500px !important; }
    #wishlist-table td { float:left; }
    #wishlist-table td.last { float:right !important; width:15%; text-align:right !important; }
    .width-26prer { width:26% !important; }
    .width-74prer { width:74% !important; }
    .width-85prer { width:85% !important; }
    .my-account .data-table td, .multiple-checkout .data-table td { width:100%; float:left; box-sizing:border-box; }
    .my-account .data-table thead tr, .multiple-checkout .data-table thead tr { display:none !important; }
    .my-account .data-table tr td.last, .multiple-checkout .data-table tbody tr td.last { padding-bottom:10px; border-bottom:1px #e3e1e1 solid; }
    .my-account .data-table tr:last-child td.last { border-bottom:0 !important; }
    .my-account .data-table tr td:first-child { padding-top:10px; }
    .dashboard .welcome-msg { margin:0 0 5% 0 !important; }
    #my-reviews-table colgroup col, #my-orders-table colgroup col { width:100% !important; }
    .col3-layout .col-wrapper .col-main { width:100%; }
    #checkout-progress-state { display:none !important; }
}

@media screen and (max-width:767px) {
    cart .form-list li { display:block; }
    .cart .input-box { width:100% !important; }
    .cart .discount .input-box { width:100% !important; }
    .cart .discount input.input-text { width:100% !important; box-sizing:border-box; }
    .cart .form-list .input-box { width:100% !important; }
    .cart .form-list select { width:100%; }
    .catblocks li { width:48.8335% !important;  }
    .catblocks li:nth-child(3) { margin-left:0; }
}

@media screen and (max-width:680px) {
    .tabNav h2 { font-size:13px !important; padding:12px !important; }
    .header .quick-access { width:100% !important; }
    .header .links li { display:block; margin:10px 0; }
    
    .cart-table .product-cart-image { float:left; width:25%; }
    .cart-table .cart-rwd-item { float:right; width:55%; text-align:left !important; }
    #shopping-cart-table a.product-image { width:100%; min-width:74px; }
    .cart-table td { padding:3px !important; }
    .cart-table colgroup, .cart-table thead { display:none; }
    .cart-table a-right, .cart-table a-ceter { text-align:left !important; }
    .my-account button { padding:3px 0 !important; }
    .header .form-language { margin-top:15px !important; }
    .header .logo { margin:0 !important; }
}

@media screen and (max-width:600px) {
    .col2-set .col-1 { float:none; width:100%; }
    .cart .cart-collaterals .col2-set { width:100%; float:none; }
    .col2-set .col-2 { width:100%; }
    .cart-table .btn-update { display:none; }
    #customer-reviews .review-summary-table .rating-box { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); height: 19.6px; text-align: center; text-indent: 0; width: 100%; }
    .product-collateral #customer-reviews #product-review-table { width:100% !important; display:block !important; }
    .product-collateral #customer-reviews #product-review-table colgroup { width:100% !important; display:block !important; }
  }
  
@media screen and (max-width:567px) {
    .products-grid li.item { max-width:none; min-height:315px !important; float:none; width:100% !important; margin: 0 0 2% 0; min-height: 573px !important; margin-left:0 !important; }
    ul.products-grid.first { margin-top:28px !important; }
    ul.products-grid { margin:0 !important; }
    #layerslider { display:none; }
    .pager .amount { display:none; }
    .pager .limiter { display: none; }
    .pager .pages { margin:0 !important; }
    .sorter .sort-by { display:none; }
    .products-list .product-image { float:none; display:block; height:auto; width:100%; }
    .products-list .product-shop { margin-left:0; }
    .product-view .product-shop { width:100% !important; max-width:none; float:none; }
    .product-view .product-img-box { width:100% !important; float:none; margin-top:20px; }
    .col2-set .col-2 { float:none !important; width:100% !important; display:block !important; }
    .col2-set .col-1 { float:none !important; width: 100% !important; display:block !important; margin-bottom:26px; }
    .form-list select { width:100% !important; }
    .form-list .input-box { width:100% !important; }
    .cart-table .cart-footer-actions #empty_cart_button { display: block; float:none !important; margin: 0 0 10px; width:92% !important; }
    .cart-table .cart-footer-actions .btn-continue { display: block; float:none !important; margin: 0 0 5px; width:92% !important; }
    .form-list .field { width:100% !important; display:block; float:none !important; }
    .form-list li.wide input.input-text { width:100% !important; }
    section.min_baners { display:none !important; }
    .product-view .box-reviews .form-add .form-list input.input-text, .product-view .box-reviews .form-add .form-list textarea { width:100% !important; display:block; box-sizing:border-box; }
    .products-grid li.item { max-width:none !important; float:none !important; width:100% !important; margin: 0 0 2% 0; min-height: 400px !important; }
    .products-grid ul { margin:0; }
    .category-description { display:none; }
    .product-view .product-shop { width:100%; float:none; max-width:567px; }
    .product-view .product-img-box { width:100%; float:none; max-width:567px; }
    .box-tags .button_green { margin-top:10px; }
    .product-view .box-tags .form-add .input-box { width:100%; }
    .product-view .box-tags .form-add input.input-text { width:100%; }
    .msg_header { display:block; float:none; width:100% !important; text-align:center !important; font-weight:bold; }
    .header .links li a { font-size:14px; }
    .products-list .product-shop { margin-left:0 !important; width:100%; display:block; }
    .product-view .box-tags .form-add .input-box { width:100% !important; }
    .product-view .box-tags .form-add input.input-text { width:100% !important; }
    .tabNav li { width:100% !important; float:none !important; border-left: 1px solid #e3e1e1; box-sizing:border-box; }
    .footer-container .col2, .footer-container .col3, .footer-container .col4 { width:100% !important; display:block !important; float:none; min-height:0 !important; }
    
    .width-26prer { width:100% !important; }
    .width-74prer { width:100% !important; }
}
@media screen and (max-width:545px) {
  
    .product-view .product-shop .add-to-links, #spstellafriend-list { width:100%; display:block !important; }
    .product-view .product-shop .add-to-links li, #spstellafriend-list li  { width:100%; float:none !important; text-align:left; }   
    #spstellafriend-list { margin-top:0 !important; }
    .product-options-bottom .add-to-cart { float:left !important; }
    .gift-messages-form .item .details { width:100% !important; }
    .gift-messages-form .item .product-img-box { width:100% !important; }
    
    .links { float:left !important; }
    .links li { margin:0 !important; }
    .header .form-language { margin:5px 0 0 0 !important; clear:none !important; float:right; }
    .form-language label { display:none; }
    .links a i { font-size:18px; }
    .links a span { display:none; }
}

@media screen and (max-width:400px) {
    .cart-table .btn-continue { display:none; }
    .map-popup { width:155px !important; }
    .map-popup-heading { width:115px !important; }
    .map-popup-content { width:135px !important; }
    .nav-container .form-search input.input-text, #menu_mobile_click .form-search input.input-text { width:188px !important; }
    .catblocks li { display:block !important; width:100% !important; float:none !important; margin-left:0 !important; }
    .header h1.logo { width:100% !important; float:none !important; }
    .cart-box-header { width:100% !important; float:none !important; margin:0 !important; }
}